*
{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.book-maker
{
    width: 80%;
    margin: auto;
}
hr
{
    margin: 50px 0px;
}
.book-maker h1
{
    color: rgb(170, 170, 170);
    font-family: arial;
    font-size: 29.25px
}
.book-maker .contain
{
background-color:rgb(238,238,238);
margin-top: -35px;
text-align: center;
}
.book-maker label
{
font-family: arial;
color: rgb(51, 51, 51);
font-weight: 700;

}
.links
{
    background-color:rgb(238,238,238);
    margin: auto;
    width:80%;
    margin-top:-50px;
    padding: 30px;
}


.item
{
    border: 3px solid tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}
.btns a
{
color: black;
}



.name-icon i,.url-icon i,#search i
{
    position: absolute;
    left: 160px;
    top: 9px;
    font-size: 20px;
    color: gold;
}
.url-icon i
{
    color: tomato;
}
input
{
    text-indent: 20px;
}

#search i
{
    color: black;
}

#numOfItems
{
    color: #333;
    font-size: 20px;
}

#emptyInputs
{
    font-family: 'Times New Roman', Times, serif;
}


.btn-delete
{
    margin-bottom: 50px;
}


#areYouSure
{
    margin-top: -60px;

}


.arrow-up
{
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
   border: 5px solid gray;
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius: 50%;
}
.arrow-up img
{
    width: 50px;
    height: 50px;

}






/* for sure button */
.portfolio-experiment a {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
}
.portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #f26522;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}
.portfolio-experiment .line {
    position: absolute;
    background: #f26522;
}
.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}
.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}
.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}
.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}
.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}
.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}
.portfolio-experiment a:hover .text, .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:hover:after, .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.portfolio-experiment a:hover .line, .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
}
.portfolio-experiment a:hover .line.-right, .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}
.portfolio-experiment a:hover .line.-top, .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}
.portfolio-experiment a:hover .line.-left, .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}
.portfolio-experiment a:hover .line.-bottom, .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}




/* for add */
.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    margin-top: 19px;
    padding: 0.5em 1em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #e55743;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
}
.button:hover {
    background: rgba(100, 0, 0, .03);
}
.button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
    content: '';
    position: absolute;
    border: inherit;
}
.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
    transform: scaleX(0);
}
.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
    transform: scaleY(0);
}










* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  #update {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  #update:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  #update::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  #update span {
    position: relative;
    z-index: 1;
  }
  #update i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  #update i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #8ea518;
    transition: 0.2s;
  }
  
  #update:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  #update i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #87a00a;
    transition: 0.2s;
  }
  
  #update:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
  

  
  .logo_img
  {
    width: 35px;
    margin-right: 5px;

  }